In [1]:
import os
import sys
sys.path.append("/mnt/c/Users/ochapman/Documents/Mesirov/scRNA+ATAC/src")
from SingleCellExperiment import *

In [2]:
rcmb56ht()

                    qc_pass_seurat  nCount_RNA  nFeature_RNA  percent.mt  \
AAACATGCAAATGCCC-1            True     10461.0        3261.0    0.325017
AAACATGCACAACAAA-1            True      1244.0         942.0    0.000000
AAACATGCAGCTAACC-1           False         NaN           NaN         NaN
AAACATGCAGTTTCTC-1           False         NaN           NaN         NaN
AAACCAACACTAAGAA-1           False         NaN           NaN         NaN
...                            ...         ...           ...         ...
TTTGTGTTCGACCTGA-1            True      2225.0        1443.0    0.134831
TTTGTTGGTGAGAAAC-1           False         NaN           NaN         NaN
TTTGTTGGTGATCAGC-1            True      3708.0        1830.0    1.618123
TTTGTTGGTTAATGCG-1           False         NaN           NaN         NaN
TTTGTTGGTTCCTGTG-1            True      1016.0         790.0    3.543307

                    nCount_ATAC  nFeature_ATAC  seurat_clusters
AAACATGCAAATGCCC-1      12657.0         5758.0              1.0
AAACATGCACAACAAA-1       5262.0         2438.0              6.0
AAACATGCAGCTAACC-1          NaN            NaN              NaN
AAACATGCAGTTTCTC-1          NaN            NaN              NaN
AAACCAACACTAAGAA-1          NaN            NaN              NaN
...                         ...            ...              ...
TTTGTGTTCGACCTGA-1       4017.0         2007.0              0.0
TTTGTTGGTGAGAAAC-1          NaN            NaN              NaN
TTTGTTGGTGATCAGC-1       4202.0         2159.0              1.0
TTTGTTGGTTAATGCG-1          NaN            NaN              NaN
TTTGTTGGTTCCTGTG-1      20299.0         9073.0              1.0

[4473 rows x 7 columns]

In [2]:
root="/mnt/c/Users/ochapman/Documents/Mesirov/scRNA+ATAC/"
barcodes_file = root+"RCMB56-ht/cellranger-2.0.0/outs/filtered_feature_bc_matrix/barcodes.tsv"
seurat_file = root+"2021-08-29_seurat/rcmb56-ht_seurat_metadata.tsv"

ht = SingleCellExperiment(barcodes_file)
ht.add_seurat(seurat_file)
ht.df

,qc_pass_seurat,nCount_RNA,nFeature_RNA,percent.mt,nCount_ATAC,nFeature_ATAC,seurat_clusters
AAACATGCAAATGCCC-1,True,10461.0,3261.0,0.325017,12657.0,5758.0,1.0
AAACATGCACAACAAA-1,True,1244.0,942.0,0.000000,5262.0,2438.0,6.0
AAACATGCAGCTAACC-1,False,NaN,NaN,NaN,NaN,NaN,NaN
AAACATGCAGTTTCTC-1,False,NaN,NaN,NaN,NaN,NaN,NaN
AAACCAACACTAAGAA-1,False,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...
TTTGTGTTCGACCTGA-1,True,2225.0,1443.0,0.134831,4017.0,2007.0,0.0
TTTGTTGGTGAGAAAC-1,False,NaN,NaN,NaN,NaN,NaN,NaN
TTTGTTGGTGATCAGC-1,True,3708.0,1830.0,1.618123,4202.0,2159.0,1.0
TTTGTTGGTTAATGCG-1,False,NaN,NaN,NaN,NaN,NaN,NaN
TTTGTTGGTTCCTGTG-1,True,1016.0,790.0,3.543307,20299.0,9073.0,1.0

In [6]:
sys.path

['/mnt/c/Users/ochapman/Documents/Mesirov/scRNA+ATAC/2021-10-07_better-background',
 '/home/ochapman/miniconda3/lib/python37.zip',
 '/home/ochapman/miniconda3/lib/python3.7',
 '/home/ochapman/miniconda3/lib/python3.7/lib-dynload',
 '',
 '/home/ochapman/.local/lib/python3.7/site-packages',
 '/home/ochapman/miniconda3/lib/python3.7/site-packages',
 '/home/ochapman/miniconda3/lib/python3.7/site-packages/IPython/extensions',
 '/home/ochapman/.ipython',
 '/mnt/c/Users/ochapman/Documents/Mesirov/scRNA+ATAC/']